@import 'vars';

/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
@import 'reset';


/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
@import 'base';

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
@import 'header';

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
@import 'banner';
/*------ projects ------ */
@import 'projects';

/*---------------------------------------------------------
 5. Footer
-------------------------------------------------------- */
@import 'footer';