<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>漫阅湾</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            text-align: center;
            background-color: #f7f7f7;
        }

        h1 {
            font-size: 5em;

        }
    </style>

</head>
<body>
    <h1>500 server error...</h1>
    <h2>(～o▔▽▔)～o o～(▔▽▔o～)</h2>
    <h3>服务器刚才出了点问题，刷新试试？</h3>
    <h2>↖(▔▽▔)↗ </h2>
</body>
</html>