<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>漫阅湾</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>

    {% block style %}
        <style></style>{% endblock %}

</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">漫阅湾提示：您正在使用已被淘汰的浏览器. 选择 <a href="http://browsehappy.com/">升级</a> 开启更多功能</p>
        <![endif]-->

<div id="loader-wrapper">
    <div id="loader"></div>
</div>

<div class="content-bg"></div>
<div class="bg-overlay"></div>

<!-- SITE TOP -->
<div class="site-top">
    <div class="site-header clearfix">
        <div class="container">
            <a href="{{ url_for('novel.index') }}" class="site-brand pull-left"><strong>漫阅湾</strong> · 阅 </a>
            <div class="social-icons pull-right">
                <ul>
                    <li><a href="{{ url_for('novel.index') }}">漫阅湾 · 阅</a></li>
                    <li><a href="{{ url_for('comic.index') }}">漫阅湾 · 漫</a></li>
                    <li><a href="http://csurong.github.io">博客</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div> <!-- .site-header -->
</div> <!-- .site-top -->
<!-- MAIN POSTS -->
{% block main %}
    <div class="main-posts">
        <div class="container">
            <div class="row">
                <div class="blog-masonry masonry-true">
                    {% block div %}
                        <div class="post-masonry col-md-4 col-sm-6">
                            <div class="post-thumb">
                                <img src="https://www.zwda.com/files/article/image/15/15006/15006s.jpg" alt="">
                                <div class="title-over">
                                    <h4><a href="#">斗破苍穹</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">时间</span>
                                        <h4><a href="#">天蚕土豆</a></h4>
                                        <p>这是一段简短的关于这本小说的描述</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-masonry col-md-4 col-sm-6">
                            <div class="post-thumb">
                                <img src="https://www.zwda.com/files/article/image/16/16289/16289s.jpg" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Second Image Title</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">24 Jan 2084</span>
                                        <h4><a href="#">Second Image Title</a></h4>
                                        <p>Donec venenatis libero sapien, eu condimentum lacus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-masonry col-md-4 col-sm-6">
                            <div class="post-thumb">
                                <img src="images/3.jpg" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Image Number Three</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">23 Jan 2084</span>
                                        <h4><a href="#">Image Number Three</a></h4>
                                        <p>Sed vitae lacus eget ipsum scelerisque condimentum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="social-icons">
                    <ul>
                        <li><a href="#">博客</a></li>
                        <li><a href="#">github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright-text">Copyright &copy; csurong</p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/min/plugins.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/min/main.min.js') }}"></script>

<!-- Preloader -->
<script type="text/javascript">
    //<![CDATA[
    $(window).load(function () { // makes sure the whole site is loaded
        $('#loader').fadeOut(); // will first fade out the loading animation
        $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(350).css({'overflow-y': 'visible'});
    })
    //]]>
</script>
<!-- templatemo 434 masonry -->
</body>
</html>